* {
  border: 1px dashed hotpink;
}

.carousel-inner .carousel-item > img {
  padding-top: 15px;
  max-height: 500px;
  margin-left: auto;
  margin-right: auto;
}

.card-header {
  background-color: RED;
  color: #FFF;
}

#cabecalho {
  font-family: 'Oswald', sans-serif;
  background-color: rgb(32, 122, 240);
  color: #fff;
  font-style: italic;
}

.navbar-nav .nav-link.active {
  color: #fff; 
}
.nav-link {
text-align: center;
}

.texto-inicio {
  font-family: 'Times New Roman', Times, serif;
  background-position: unset;
}

.nav-link {
  color: #fff;
}

#texto-pratos {
  color: red;
  font-weight: bold;
  font-style: italic;
}

.footer {
  padding-top: 250px;
  padding-left: 500px;
  font-style: italic;
}

@media screen and (min-width: 767px) and (max-width: 1023px){
  #cards {
    column-width: 5%;
  }
}